* {
    margin: 0;
    padding: 0;
    font-family: 'Sometype Mono', monospace;
}
/*Logo and top buttons*/
header{
    position: fixed;
    top: 0px;
    left: -50px;
    width: 1000000px;
    height: 20%;
    padding: 20px 100px;
    background-color: beige;
    background-size: cover;
}
header .top{
    position: fixed;
    top: 100px;
}
header .loginbtn{
    border: 1px solid black;
    padding: 8px, 20px;
    border-radius: 6px;
    transition: all 0.2s ease;
    background-color: transparent;
    width: 80px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 160px;
}
header .loginbtn:active{
    transform: scale(0.96);
}
header .regisbtn{
    border: 1px solid black;
    padding: 8px, 20px;
    border-radius: 6px;
    transition: all 0.2s ease;
    background-color: transparent;
    background-color: transparent;
    width: 80px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 60px;
}
header .regisbtn:active{
    transform: scale(0.96);
}

/*Table (User Input,Output)*/

body{
    position: fixed;
    top: 150px;
    left: 50px;
}
body .wrap{
    background-color: whitesmoke;
}
body .upload{
    position: relative;
    margin-bottom: 40px;
}

table {
    width: 1150px;
    border: 2px solid black;
}
th {
    font-weight: bold;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    height: 100px;
    text-align: center;
}
table tr:nth-child(even){
    color: darkgrey;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }